<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>local.noticias.servlets.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticiaPagina</servlet-name>
        <servlet-class>local.noticias.servlets.NoticiaPagina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticiaSlug</servlet-name>
        <servlet-class>local.noticias.servlets.NoticiaSlug</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/ImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticiaSlug</servlet-name>
        <url-pattern>/NoticiaSlug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticiaPagina</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pagina-noticia.jsp</welcome-file>
    </welcome-file-list>
</web-app>
